<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성향분석.page_1</title>
</head>
<body>
<dl class="select_box">
    <dt class="select-question"><em class="Q-text">Q</em> 언제 여행을 떠나시나요?</dt>
    <dd class="select-answer">
        <ul class="select_list">
            <li class="check_course">
                <input type="radio" name="when" value="봄" class="trip_query" id="course1_1">
                <label for="course1_1">봄</label>
            </li>
            <li class="check_course">
                <input type="radio" name="when" value="여름" class="trip_query" id="course1_2">
                <label for="course1_2">여름</label>
            </li>
            <li class="check_course">
                <input type="radio" name="when" value="가을" class="trip_query" id="course1_3">
                <label for="course1_3">가을</label>
            </li>
            <li class="check_course">
                <input type="radio" name="when" value="겨울" class="trip_query" id="course1_4">
                <label for="course1_4">겨울</label>
            </li>
        </ul>
    </dd>
</dl>

<dl class="select_box">
    <dt class="select-question"><em class="Q-text">Q</em> 누구와 함께하는 여행인가요?</dt>
    <dd class="select-answer">
        <ul class="select_list">
            <li class="check_course">
                <input type="radio" name="partner" value="혼자" class="trip_query" id="course2_1" checked="">
                <label for="course2_1">혼자</label>
            </li>
            <li class="check_course">
                <input type="radio" name="partner" value="가족" class="trip_query" id="course2_2">
                <label for="course2_2">가족</label>
            </li>
            <li class="check_course">
                <input type="radio" name="partner" value="연인" class="trip_query" id="course2_3">
                <label for="course2_3">연인</label>
            </li>
            <li class="check_course">
                <input type="radio" name="partner" value="친구" class="trip_query" id="course2_4">
                <label for="course2_3">친구</label>
            </li>
        </ul>
    </dd>
</dl>
</body>
</html>