<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성향분석.page_2</title>
</head>
<body>
<dl class="select_box">
    <dt class="select-question"><em class="Q-text">Q</em> 관심있는 테마와 여행하고 싶은 곳이 있으신가요? <span class="maximum-text">(5개)</span></dt>
    <dd class="select-answer">
        <ul class="select_list">
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="트레킹" class="trip_query limit-course" id="course3_1">
                <label for="course3_1">트레킹</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="캠핑" class="trip_query limit-course" id="course3_2">
                <label for="course3_2">캠핑</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="레포츠" class="trip_query limit-course" id="course3_3">
                <label for="course3_3">레포츠</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="액티비티" class="trip_query limit-course" id="course3_4">
                <label for="course3_4">액티비티</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="드라이브" class="trip_query limit-course" id="course3_5">
                <label for="course3_5">드라이브</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="맛집탐방" class="trip_query limit-course" id="course3_6">
                <label for="course3_6">맛집탐방</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="풍경감상" class="trip_query limit-course" id="course3_7">
                <label for="course3_7">풍경감상</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="전시관람" class="trip_query limit-course" id="course3_8">
                <label for="course3_8">전시관람</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="시장구경" class="trip_query limit-course" id="course3_9">
                <label for="course3_9">시장구경</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="체험" class="trip_query limit-course" id="course3_10">
                <label for="course3_10">체험</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="축제" class="trip_query limit-course" id="course3_11">
                <label for="course3_11">축제</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="휴양지" class="trip_query limit-course" id="course3_12">
                <label for="course3_12">휴양지</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="물놀이" class="trip_query limit-course" id="course3_13">
                <label for="course3_13">물놀이</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="문화탐방" class="trip_query limit-course" id="course3_14">
                <label for="course3_14">문화탐방</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="쇼핑" class="trip_query limit-course" id="course3_15">
                <label for="course3_15">쇼핑</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="바다" class="trip_query limit-course" id="course3_16">
                <label for="course3_16">바다</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="산" class="trip_query limit-course" id="course3_17">
                <label for="course3_17">산</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="강" class="trip_query limit-course" id="course3_18">
                <label for="course3_18">강</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="섬" class="trip_query limit-course" id="course3_19">
                <label for="course3_19">섬</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="공원" class="trip_query limit-course" id="course3_20">
                <label for="course3_20">공원</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="종교유적" class="trip_query limit-course" id="course3_21">
                <label for="course3_21">종교유적</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="테마파크" class="trip_query limit-course" id="course3_22">
                <label for="course3_22">테마파크</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="문화마을" class="trip_query limit-course" id="course3_23">
                <label for="course3_23">문화마을</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="랜드마크" class="trip_query limit-course" id="course3_24">
                <label for="course3_24">랜드마크</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="전통시장" class="trip_query limit-course" id="course3_25">
                <label for="course3_25">전통시장</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="cat2_list" value="역사유적" class="trip_query limit-course" id="course3_26">
                <label for="course3_26">역사유적</label>
            </li>
        </ul>
    </dd>
</dl>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function () {
        let count = 0;
        $("input[type='checkbox']").on("click", function () {
          count += 1;

          if (count > 5) {
            $(this).prop("checked", false);
            alert("5개만 선택");
          }
        });
      });

</script>

</body>
</html>


