<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성향분석.page_3</title>
</head>
<body>
<dl class="select_box">
    <dt class="select-question"><em class="Q-text">Q</em> 다음 중 선호하는것을 선택해주세요? <span class="maximum-text">(3개)</span></dt>
    <dd class="select-answer">
        <ul class="select_list">
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="편안함" class="trip_query limit-course" id="course4_1">
                <label for="course4_1">편안함</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="핫플" class="trip_query limit-course" id="course4_2">
                <label for="course4_2">핫플</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="낭만적" class="trip_query limit-course" id="course4_3">
                <label for="course4_3">낭만적</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="열정적" class="trip_query limit-course" id="course4_4">
                <label for="course4_4">열정적</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="고요" class="trip_query limit-course" id="course4_5">
                <label for="course4_5">고요</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="생기넘치는" class="trip_query limit-course" id="course4_6">
                <label for="course4_6">생기넘치는</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="희망적인" class="trip_query limit-course" id="course4_7">
                <label for="course4_7">희망적인</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="단조로움" class="trip_query limit-course" id="course4_8">
                <label for="course4_8">단조로움</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="정적인" class="trip_query limit-course" id="course4_9">
                <label for="course4_9">정적인</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="평화" class="trip_query limit-course" id="course4_10">
                <label for="course4_10">평화</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="따뜻" class="trip_query limit-course" id="course4_11">
                <label for="course4_11">따뜻</label>
            </li>
            <li class="check_course">
                <input type="checkbox" name="cat2_list" value="유쾌" class="trip_query limit-course" id="course4_12">
                <label for="course4_12">유쾌</label>
            </li>
        </ul>
    </dd>
</dl>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function () {
        let count = 0;
        $("input[type='checkbox']").on("click", function () {
          count += 1;

          if (count > 3) {
            $(this).prop("checked", false);
            alert("3개만 선택");
          }
        });
      });
</script>

</body>
</html>