<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signupForm.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <section id="signupForm">
        <form id="registerFrm" method="POST">
            {% csrf_token %}
            <div class="join_content">
            <!-- 아이디, 비밀번호 -->
            <div class="row_group">
                <div class="join_row">
                    <h3 class="join_title">
                        <label for="id">아이디</label>
                    </h3>
                        <input type="text" id="id" name="new_id" class="int" title="ID" maxlength="20">
                        <select name="mail">
                            <option value="@email.com" selected>@email.com</option>
                            <option value="@naver.com">@naver.com</option>
                            <option value="@daum.net">@daum.net</option>
                            <option value="@nate.com">@nate.com</option>
                            <option value="@google.com">@google.com</option>
                        </select>
                        필수 정보입니다.
                </div>
                <div class="join_row">
                    <h3 class="join_title">
                        <label for="new_pwd">비밀번호</label>
                    </h3>
                        <input type="password" id="new_pwd" name="new_pwd" class="int" title="비밀번호 입력" aria-describedby="new_pwdMsg" maxlength="20">
                        5~15자의 영문 소문자, 숫자와 특수기호(*!@#)만 사용 가능합니다.
                </div>
            </div>
            <!-- 이름, 나이대, 성별 -->
            <div class="row_group">
                <div class="join_row">
                    <h3 class="join_title">
                        <label for="new_name">이름</label>
                    </h3>
                    <input type="text" id="new_name" name="new_name" title="이름" class="int" maxlength="10">
                </div>
                <div class="bir_age">
                    <h3 class="join_row join_age">
                        <label for="new_age">나이</label>
                    </h3>
                    <input type="text" id="new_age" name="new_age" required  maxlength="2" size="10">
                </div>
                <div class="join_row join_sex">
                    <h3 class="join_title">
                        <label for="new_sex">성별</label>
                    </h3>
                    <div class="gender_code">
                        <select id="new_sex" name="new_sex" class="sel" aria-label="성별">
                            <option value="" selected="">성별</option>
                            <option value="M">남자</option>
                            <option value="F">여자</option>
                        </select>
                    </div>
                </div>
                <!-- 전화번호, 주소 -->
                <div class="join_row">
                    <h3 class="join_title">
                        <label for="new_phone">전화번호</label>
                    </h3>
                    <input type="tel" name="new_phone" id="new_phone" maxlength="13" placeholder="예) 010-1234-5678"/>
                </div>
                <div class="join_row join_address">
                    <h3 class="join_title">
                        <label for="new_address">주소</label>
                    </h3>
                        <div class="address_code">
                            <select id="new_address" name="new_address" aria-label="주소">
                                <option value="" selected="">주소</option>
                                <option value="1">서울</option>
                                <option value="2">인천</option>
                                <option value="3">대전</option>
                                <option value="4">대구</option>
                                <option value="5">광주</option>
                                <option value="6">부산</option>
                                <option value="7">울산</option>
                                <option value="8">세종특별자치시</option>
                                <option value="31">경기도</option>
                                <option value="32">강원도</option>
                                <option value="33">충청북도</option>
                                <option value="34">충청남도</option>
                                <option value="35">경상북도</option>
                                <option value="36">경상남도</option>
                                <option value="37">전라북도</option>
                                <option value="38">전라남도</option>
                                <option value="39">제주도</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <input type="button" class="registerBtn" id= "registerBtn" onclick="alert('회원가입을 축하합니다.')" value = "완료" />
                </div>
            </div>
        </form>
</section>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>

    <script>
    $(document).ready(function() {
      $("#registerBtn").click(function() {
        $("#registerFrm").attr('action' , "{% url 'signup' %}").submit()
      })
    })
    </script>

</body>
</html>
