<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성향분석.page_2</title>
</head>
<body>
<dl class="select_box">
    <dt class="select-question"><em class="Q-text">Q</em> 관심있는 테마와 여행하고 싶은 곳이 있으신가요? <span class="maximum-text">(5개)</span></dt>
    <dd class="select-answer">
        <ul class="select_list">
            <li class="check_course">
                <input type="checkbox" name="theme" value="자연관광지" class="trip_query limit-course" id="course3_1">
                <label for="course3_1">자연관광지</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="역사관광지" class="trip_query limit-course" id="course3_2">
                <label for="course3_2">역사관광지</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="휴양관광지" class="trip_query limit-course" id="course3_3">
                <label for="course3_3">휴양관광지</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="체험관광지" class="trip_query limit-course" id="course3_4">
                <label for="course3_4">체험관광지</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="문화시설" class="trip_query limit-course" id="course3_5">
                <label for="course3_5">문화시설</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="축제" class="trip_query limit-course" id="course3_6">
                <label for="course3_6">축제</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="공연/행사" class="trip_query limit-course" id="course3_7">
                <label for="course3_7">공연/행사</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="레포츠" class="trip_query limit-course" id="course3_8">
                <label for="course3_8">레포츠</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="쇼핑" class="trip_query limit-course" id="course3_9">
                <label for="course3_9">쇼핑</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="맛집" class="trip_query limit-course" id="course3_10">
                <label for="course3_10">맛집</label>
            </li>
            <li class="check_course check_icon">
                <input type="checkbox" name="theme" value="숙박" class="trip_query limit-course" id="course3_11">
                <label for="course3_11">숙박</label>
            </li>
        </ul>
    </dd>
</dl>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function () {
        let count = 0;
        $("input[type='checkbox']").on("click", function () {
          count += 1;

          if (count > 5) {
            $(this).prop("checked", false);
            alert("5개만 선택");
          }
        });
      });

</script>

</body>
</html>


